:root {
  /* Colors */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-secondary-500: hsl(333, 80%, 67%);

  --clr-neutral-400: hsl(303, 10%, 53%);
  --clr-neutral-100: hsl(300, 24%, 96%);

  /* Font size */
  --fs-normal: 1.6rem;

  /* Font family */
  --ff-league-spartan: "League Spartan", sans-serif;

  /* Font weight */
  --fw-thin: 400;
  --fw-regular: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-league-spartan);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  height: 100%;
  min-height: 100vh;
  /* width: 100%; */

  text-align: center;
  /* margin-top: 5rem; */
}

main {
  position: relative;
  width: 100%;
}

.container {
  /* Title variables */
  --margin-title: 0 auto 2rem auto;
  --title-font-size: 3.4rem;

  margin: 0 2.5rem;
  display: grid;
  gap: 4rem;
  padding: 8.5rem 0;
}

/* Backround images */

picture img {
  position: absolute;
}

.background-image-bottom img {
  bottom: 0;
  right: 0;
}

.background-image-top img {
  top: 0;
  left: 0;
}

/* Title and sub-title section */

.title {
  /* max-width: 30rem; */
  max-width: 80%;
  line-height: 0.8;
  margin: var(--margin-title);
  font-size: var(--title-font-size);

  color: var(--clr-primary-900);
}

.sub-title {
  color: var(--clr-neutral-400);
}

/* Review section */

.review,
.reviews,
.stars {
  display: flex;
}

.reviews {
  --review-padding: 1rem;
  gap: 1.5rem;
  flex-direction: column;
}

.review {
  align-items: center;
  border-radius: 0.8rem;
  gap: 1rem;
  background-color: var(--clr-neutral-100);
  padding: var(--review-padding);
  flex-direction: column-reverse;
}

.review span {
  display: inline-block;
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
}

.stars {
  gap: 0.8rem;
}

/* .review::before {
  content: "";

  display: inline-block;
  background-image: url(/images/icon-star.svg);
  width: 30%;
  height: 16px;

  background-repeat: space;
} */

/* Testimonial section */

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonial,
.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-items: center;
}

.testimonial {
  background-color: var(--clr-primary-900);
  border-radius: 0.8rem;
  padding: 3rem;
  text-align: start;
  gap: 2.5rem;
}

.testimonial img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial .person {
  display: flex;
  gap: 2rem;
}

.person__name {
  color: #fff;
}

.person__status {
  color: var(--clr-secondary-500);
}

.testimonial .quote {
  color: var(--clr-neutral-100);
}

@media screen and (min-width: 1100px) {
  body {
    display: flex;
    align-content: center;
  }

  .container {
    /* Title variables */
    --margin-title: 0 0 2rem 0;
    --title-font-size: 4.8rem;

    width: 80%;
    height: 90%;
    margin-inline: auto;

    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    text-align: start;
  }

  .container > * {
    width: 100%;
  }

  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  /*Heading section  */

  .heading-section {
    max-width: 70%;
  }

  .title {
    /* width: 60%; */

    /* margin-inline: 0; */
  }

  /* Testimonial section*/

  .testimonials {
    grid-column: 1 / -1;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 3rem;
  }

  .testimonial {
    /* height: 30rem */
    max-width: 55rem;
    background-color: var(--clr-primary-900);
    border-radius: 0.8rem;
    padding: 4rem;
    text-align: start;
    gap: 2.5rem;
  }

  .testimonial:nth-child(2) {
    transform: translateY(2rem);
  }

  .testimonial:nth-child(3) {
    transform: translateY(4rem);
  }

  /* review section */

  .reviews {
    --review-padding: 1.5rem;
    gap: 2rem;
    flex-direction: column;
    /* align-self: end; */
    justify-self: end;

    width: 100%;
  }

  .review {
    align-items: center;

    gap: 2rem;
    background-color: var(--clr-neutral-100);
    padding: var(--review-padding);
    flex-direction: row-reverse;
    text-align: center;
    justify-content: start;
    /* width: 45rem; */
    width: 70%;
    min-width: 45rem;
    align-self: end;
  }

  .review:nth-child(2) {
    /* box-sizing: ; */

    margin-right: 4rem;
  }

  .review:nth-child(1) {
    /* box-sizing: ; */

    margin-right: 8rem;
  }

  .review span {
    display: inline-block;
    color: var(--clr-primary-900);
    font-weight: var(--fw-bold);
    height: 2rem;
  }

  .stars {
    gap: 0.8rem;
    padding-left: 4rem;
  }
}
