:root {
  /* Colors */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-secondary-500: hsl(333, 80%, 67%);

  --clr-neutral-400: hsl(303, 10%, 53%);
  --clr-neutral-100: hsl(300, 24%, 96%);

  /* Font size */
  --fs-normal: 1.5rem;

  /* Font family */
  --ff-league-spartan: "League Spartan", sans-serif;

  /* Font weight */
  --fw-thin: 400;
  --fw-regular: 500;
  --fw-bold: 700;
}
