:root {
  /* Colors */
  --clr-primary-900: hsl(300, 43%, 22%);
  --clr-secondary-500: hsl(333, 80%, 67%);

  --clr-neutral-400: hsl(303, 10%, 53%);
  --clr-neutral-100: hsl(300, 24%, 96%);

  /* Font size */
  --fs-normal: 1.6rem;

  /* Font family */
  --ff-league-spartan: "League Spartan", sans-serif;

  /* Font weight */
  --fw-thin: 400;
  --fw-regular: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-league-spartan);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  height: 100%;
  min-height: 100vh;
  /* width: 100%; */

  text-align: center;
  /* margin-top: 5rem; */
}

main {
  position: relative;
}

.container {
  /* Title variables */
  --margin-title: 0 auto 2rem auto;
  --title-font-size: 3.4rem;

  margin: 0 2.5rem;
  display: grid;
  gap: 4rem;
  padding: 8.5rem 0;
}

/* Backround images */

picture img {
  position: absolute;
}

.background-image-bottom img {
  bottom: 0;
  right: 0;
}

.background-image-top img {
  top: 0;
  left: 0;
}

/* Title and sub-title section */

.title {
  max-width: 30rem;
  line-height: 0.8;
  margin: var(--margin-title);
  font-size: var(--title-font-size);

  color: var(--clr-primary-900);
}

.sub-title {
  color: var(--clr-neutral-400);
}

/* Review section */

.review,
.reviews {
  display: flex;
  flex-direction: column;
}

.reviews {
  --review-padding: 1rem;
  gap: 1.5rem;
}

.review {
  align-items: center;
  border-radius: 0.8rem;
  gap: 1rem;
  background-color: var(--clr-neutral-100);
  padding: var(--review-padding);
}

.review span {
  display: inline-block;
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
}

.stars {
  display: flex;
  gap: 0.5rem;
}

/* Testimonial section */

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.testimonial,
.wrapper {
  display: flex;
  flex-direction: column;
}

.testimonial {
  background-color: var(--clr-primary-900);
  border-radius: 0.8rem;
  padding: 3rem;
  text-align: start;
  gap: 2.5rem;
}

.testimonial img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial .person {
  display: flex;
  gap: 2rem;
}

.person__name {
  color: #fff;
}

.person__status {
  color: var(--clr-secondary-500);
}

.testimonial .quote {
  color: var(--clr-neutral-100);
}
